<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiworker.stellarbirthday" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aiworker.stellarbirthday.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.aiworker.stellarbirthday.StellarInfo"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:background="@android:color/transparent"
            android:parentActivityName="com.aiworker.stellarbirthday.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aiworker.stellarbirthday.MainActivity" />
        </activity>

        <activity
            android:name="com.aiworker.stellarbirthday.AboutStars"
            android:theme="@android:style/Theme.Translucent"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:background="@android:color/transparent"
            android:parentActivityName="com.aiworker.stellarbirthday.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aiworker.stellarbirthday.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.stellarbirthday.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1523365611288600"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true">
        </provider>
    </application>


</manifest>
